# List
---

In [71]:
# One way to make a list
lst = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
lst

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [72]:
# Another way to make a list using list() function
lst1= list(("apple", "banana", "cherry", "orange", "kiwi"))
lst1

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [73]:
# Length of a list
print(len(lst))
print(len(lst1))

7
5

In [74]:
# Indexing a list, Index starts from 0 to end

print(lst[0])
print(lst[1])
print(lst[2])
print(lst[3])
print(lst[4])
print(lst[5])
print(lst[6])
print('+'*10)
print("indexes of list =")
for i in range(len(lst)):
    print(i)

apple
banana
cherry
orange
kiwi
melon
mango
++++++++++
indexes of list =
0
1
2
3
4
5
6

In [76]:
# Printing all elements in a list
for i in lst:
    print(i)
print("-"*10)

for i in range(0,len(lst)):
    print(lst[i])
print("-"*10)   
[print(x) for x in lst]

apple
banana
cherry
orange
kiwi
melon
mango
----------
apple
banana
cherry
orange
kiwi
melon
mango
----------
apple
banana
cherry
orange
kiwi
melon
mango

[None, None, None, None, None, None, None]

In [77]:
# Negative Indexes 
print(lst[-1]) #prints the last element of list
print(lst[-2]) #prints the secondlast element of list

mango
melon

In [78]:
# Slicing
# ListName[Start Position : End Position : Jump] 
print(lst[:]) #Prints the whole list

print(lst[0:len(lst)])  #Prints the whole list

print(lst[0:7:1])  #Prints the whole list jump is set 1, no skiping

print(lst[::2]) # Skips by 1

print(lst[::3]) # Skips by 2

print(lst[:])

print(lst[2:6]) # Prints the elements from index 2 and end at index 6 but 6th index is not included

print(lst[::-1]) # Prints the list in backwards

print(lst[2:]) # Starts from 2nd index to very end

print(lst[:4]) # Starts from 0th index to 4th exluding the 4th element

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'cherry', 'kiwi', 'mango']
['apple', 'orange', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['cherry', 'orange', 'kiwi', 'melon']
['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange']

In [79]:
# Check if Item Exists
if "cherry" in lst:
    print('found')
else:
    print('not found')

found

In [80]:
lst

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [81]:
lst[2]="Payam" # Changed 2nd index item

In [82]:
lst

['apple', 'banana', 'Payam', 'orange', 'kiwi', 'melon', 'mango']

In [83]:
lst[1:3] = ["blackcurrant", "watermelon"]
lst

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [84]:
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.
# The insert() method inserts an item at the specified index:
lst.insert(0,'payam')
lst

['payam',
 'apple',
 'blackcurrant',
 'watermelon',
 'orange',
 'kiwi',
 'melon',
 'mango']

In [85]:
# To add an item to the end of the list, use the append() method:
lst.append('Chakka')
lst

['payam',
 'apple',
 'blackcurrant',
 'watermelon',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'Chakka']

In [86]:
# To append elements from another list to the current list, use the extend() method.
lst.extend(lst1)
lst

['payam',
 'apple',
 'blackcurrant',
 'watermelon',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'Chakka',
 'apple',
 'banana',
 'cherry',
 'orange',
 'kiwi']

In [87]:
# The remove() method removes the specified item.
lst = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
lst.append('apple')
lst

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'apple']

In [88]:
lst.remove('apple') # Removes the first search item it encounters
lst

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'apple']

In [89]:
lst.insert(0,'apple')
lst

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'apple']

In [90]:
# The pop() method removes the specified index.
lst.pop(0)
print(lst)

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'apple']

In [91]:
lst.pop() #if no index is provided it removes the last element
lst

['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [65]:
# The del keyword also removes the specified index
lst = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(lst)

del lst[1]

print(lst)

del lst # Deletes the whole list

print(lst) # Returns error message because the list does not exist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

NameError: name 'lst' is not defined

In [92]:
# The clear() method empties the list.
# The list still remains, but it has no content.
lst = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(lst)

lst.clear()

print(lst) # Returns an empty list because the elements have been deleted

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
[]

In [96]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

# newlist = [expression for item in iterable if condition == True]
lst = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(lst)
lst2=[]
for i in lst:
    if "e" in i:
        lst2.append(i)
print(lst2)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'cherry', 'orange', 'melon']

In [103]:
lst=[i.upper() for i in 'Apple']
lst

['A', 'P', 'P', 'L', 'E']

In [107]:
# Sorting elements in array using sort()

# To sort descending, use the keyword argument reverse = True:

lst = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']
['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [109]:
import random
lst=[]
for i in range(10):
    lst.append(random. randint(0,25))
print("Generated List", lst)
lst.sort()
print("Sorted in Ascending Order", lst)
lst.sort(reverse=True)
print("Sorted in Descending Order",lst)

Generated List [24, 14, 8, 10, 4, 17, 7, 14, 21, 17]
Sorted in Ascending Order [4, 7, 8, 10, 14, 14, 17, 17, 21, 24]
Sorted in Descending Order [24, 21, 17, 17, 14, 14, 10, 8, 7, 4]

In [111]:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
lst = ["banana", "Orange", "Kiwi", "cherry"]
lst.sort()
lst

['Kiwi', 'Orange', 'banana', 'cherry']

In [116]:
# The reverse() method reverses the order of the elements.

lst = ["banana", "Orange", "Kiwi", "cherry"]
print("Original List",lst)
lst.reverse()
print("After revering the order",lst)
print('\n')
a=[1,23,4,58,6,856,8,4]
print("Original List",a)
a.reverse()
print("After Reversing", a)

Original List ['banana', 'Orange', 'Kiwi', 'cherry']
After revering the order ['cherry', 'Kiwi', 'Orange', 'banana']


Original List [1, 23, 4, 58, 6, 856, 8, 4]
After Reversing [4, 8, 856, 6, 58, 4, 23, 1]

In [125]:
#You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1,
# and changes made in list1 will automatically also be made in list2

lst1=[1,2,36,5,4,56,8,9,5,55]

print("lst1 = ",lst1)

lst2=lst1 # Assigning lst2 as lst1

print("lst2 = ",lst2)

lst1[2:4]=('hai','hello') # Changing Only lst1

print("lst1 = {} and lst2 = {}".format(lst1,lst2)) # Since lst2 is assined as lst1 the changes in lst1 will be reflected in lst2

# To make a copy, one way is to use the built-in List method copy()
lst = ["banana", "Orange", "Kiwi", "cherry"]
lst1=lst.copy() # Copy of lst is passed in lst1
print("lst = {} lst1 = {}".format(lst,lst1))

lst[0]="Apple"
print("lst = {} lst1 = {}".format(lst,lst1)) #Lst1 is not affected by the changes in lst

lst1 =  [1, 2, 36, 5, 4, 56, 8, 9, 5, 55]
lst2 =  [1, 2, 36, 5, 4, 56, 8, 9, 5, 55]
lst1 = [1, 2, 'hai', 'hello', 4, 56, 8, 9, 5, 55] and lst2 = [1, 2, 'hai', 'hello', 4, 56, 8, 9, 5, 55]
lst = ['banana', 'Orange', 'Kiwi', 'cherry'] lst1 = ['banana', 'Orange', 'Kiwi', 'cherry']
lst = ['Apple', 'Orange', 'Kiwi', 'cherry'] lst1 = ['banana', 'Orange', 'Kiwi', 'cherry']

In [128]:
# There are several ways to join, or concatenate, two or more lists in Python.
# One of the easiest ways are by using the + operator.
print(lst1,lst2)
lst3 = lst1 + lst2
print(lst3)

['banana', 'Orange', 'Kiwi', 'cherry'] [1, 2, 'hai', 'hello', 4, 56, 8, 9, 5, 55]
['banana', 'Orange', 'Kiwi', 'cherry', 1, 2, 'hai', 'hello', 4, 56, 8, 9, 5, 55]

---

## Methods & Description
### append()	- 	- Adds an element at the end of the list
### clear()	- 	Removes all the elements from the list
### copy()		- Returns a copy of the list
### count()	- 	Returns the number of elements with the specified value
### extend()	- 	Add the elements of a list (or any iterable), to the end of the current list
### index()		- Returns the index of the first element with the specified value
### insert()	- 	Adds an element at the specified position
### pop()		- Removes the element at the specified position
### remove()		- Removes the item with the specified value
### reverse()		- Reverses the order of the list
### sort()	- 	Sorts the list